html {
  font-family: 'Yantramanav', sans-serif;
  background-color: #319cb7;
  color: #fff;
}

.amber {
  width: 50%;
  max-width: 400px;
  min-width: 300px;
}

.icons {
  width: 15%;
  max-width: 150px;
  min-width: 100px;
  margin: auto;
}

h1 {
  font-size: 100px;
  line-height: 80px;
}

.icon img {
  transition: all linear 2s ease;
}

.icon:hover img {
  transform: scale(1.15,1.15);
}
